@page "/fetchdata"
@using IotRandomWinner.Shared

@inject HttpClient Http

<h1>Iot contest winner</h1>

<p>We are going to randomize the winner making appear the number of the winner over the MXChips.</p>

@if (forecasts == null)
{
    <p><em>Loading devices...</em></p>

}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Device Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Id</td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary mt-2" onclick="@(async () => await CallRandomNumber())">Call random number</button>

}

@functions {
    DeviceEntity[] forecasts;

    protected override async Task OnInitAsync()
    {
        forecasts = await Http.GetJsonAsync<DeviceEntity[]>("api/SampleData/WeatherForecasts");
    }

    protected async Task CallRandomNumber()
    {
        var request = new RandomItemRequest { DeviceId = new List<DeviceEntity> { forecasts.FirstOrDefault() }, Method = "generateRandomNumber" };
        await Http.PostJsonAsync<RandomItemRequest>("api/SampleData/InvokeDeviceMethod", request);

    }
}
